<!DOCTYPE HTML>
<html>
    <head>
        <title>This is Class Based Crud</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
<div class="container"><!-- Button trigger modal -->

{% if messages %}
<div class="alert alert-success">
    {% for m in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ m }}</li>
    {% endfor %}
</div>
{% endif %}

<a href="{% url 'home-view' %}">
    <button class="btn btn-info mt-3">Back</button>
</a>
        <!-- Modal -->

            <div class="modal-content mt-5">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              </div>
              <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
                        {{form.name}}
                        <small id="emailHelp" class="form-text text-danger">{{form.name.errors}}</small>
                      </div>

                    <div class="form-group">
                        <label for="{{form.roll.id_for_label}}">{{form.roll.label}}</label>
                        {{form.roll}}
                        <small id="emailHelp" class="form-text text-danger">{{form.roll.errors}}</small>
                      </div>

              </div>
              <div class="modal-footer">

                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
              </form>
            </div>


</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>